/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
textarea,input[type="text"],input[type="button"],input[type="submit"]{-webkit-appearance:none;border-radius:0;outline:none;box-shadow:none!important}
/* fin reset */

/* FONTFACE */
@font-face{font-family:'Mobiliar';src:url('../fonts/MobiliarRealistWeb-SemiLight.eot') format('embedded-opentype'),url('../fonts/MobiliarRealistWeb-SemiLight.woff') format('woff'),url('../fonts/MobiliarRealistWeb-SemiLight.ttf') format('truetype');font-weight:300;font-style:normal}
@font-face{font-family:'Mobiliar';src:url('../fonts/MobiliarRealistWeb-Regular.eot') format('embedded-opentype'),url('../fonts/MobiliarRealistWeb-Regular.woff') format('woff'),url('../fonts/MobiliarRealistWeb-Regular.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'Mobiliar';src:url('../fonts/MobiliarRealistWeb-Bold.eot') format('embedded-opentype'),url('../fonts/MobiliarRealistWeb-Bold.woff') format('woff'),url('../fonts/MobiliarRealistWeb-Bold.ttf') format('truetype');font-weight:bold;font-style:normal}
/* END FONTFACE */

/* SELECT */
.dropp{width:68px;float:none;position:relative;font-family:'Mobiliar';display:inline-block}
.dropp-header{cursor:pointer;height:25px;background:#f8f8f6;color:#e62525;position:relative;border:1px solid #e62525;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-box-shadow:inset 0 1px 3px 1px #f2f2f4;-webkit-box-shadow:inset 0 1px 3px 1px #f2f2f4;box-shadow:inset 0 1px 3px 1px #f2f2f4}
.dropp-header__title{color:#e62525;width:59px;float:left;font-weight:bold;padding:4px 0 0 7px;text-align:left;height:21px}
.dropp-header__btn{display:block;background:transparent url('../images/arrows.gif') no-repeat 0 0;color:#666666;padding:0;position:absolute;right:0;top:0;width:24px;height:100%}
.dropp-header__btn .icon{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}
.dropp-header__btn .icon:before, .dropp-header__btn .icon:after{top:31%;left:22%;width:38%;height:8%;background:#dd4040;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.dropp-header__btn .icon:after{top:55%;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.dropp-header__btn.js-open{background-position:-24px 0}
.dropp-header__btn.js-open .icon{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.dropp-header__btn.js-open .icon:before, .dropp-header__btn.js-open .icon:after{background:#fff}
.dropp-header__btn:focus{outline:none}
.dropp-body{overflow:hidden;width:100%;max-height:0;background:#e9e9e9;color:#fff;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.dropp-body.js-open{max-height:20em;position:absolute;width:100%}
.dropp-body label{display:block;color:#5a595b;text-decoration:none;padding:1px 0 5px;font-weight:400;cursor:pointer;text-align:left;font-size:95%}
.dropp-body label:first-child{box-shadow:none}
.dropp-body label:hover, .dropp-body label.js-open{font-weight:bold}
.dropp-body label > input{display:none}
.scroll{height:90px;overflow:auto;margin:6px 5px 6px 10px}
.mCSB_scrollTools .mCSB_draggerRail{background:#969ba0}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#e62525;width:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:#e62525}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:#e62525}
.mCSB_scrollTools .mCSB_dragger{height:10px!important}
.mCSB_inside > .mCSB_container{margin-right:15px}
.mCSB_scrollTools{width:10px}
/* END SELECT */

body,html{margin:0;padding:0;font-family:'Mobiliar';font-size:13px}
body{float:left;display:inline;width:100%}
#wrapHeight{padding:40px 0;float:left;width:100%;display:inline;min-height:460px}
#calculatorContent{width:100%;max-width:1170px;margin:0 auto;padding:40px 0}
.block{float:left;display:none;width:100%}
.btn{cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;text-transform:uppercase;display:inline-block;background:#e62525;padding:12px 20px;text-decoration:none;color:#fff;font-weight:normal;font-size:120%}
span.pages{position:relative;left:50%;margin-left:-17px;margin-bottom:25px;float:left;display:inline;width:34px;height:12px;background:url('../images/pages.gif') no-repeat center bottom}
#calculatorContent.step_01 #step_01{display:inline;text-align:center;height:250px}
#calculatorContent.step_02 #step_02{display:inline}
#calculatorContent.step_02 span.pages{background-position:center top}
.disable{cursor:default!important;background:#e4e4e4!important;color:#afafaf!important}
.disclaimer{width:100%;text-align:left;margin-top:80px;display:inline-block}
.disclaimer p{font-size:21px;line-height:140%;font-weight:100}

/* STEP 1 */
#step_01 .col_01, #step_01 .col_02{font-size:130%;display:inline-block;padding-top:90px;width:240px;background:#f8f8f6 url('../images/icon_cal.gif?v=2') no-repeat center 27px;height:70px}
#step_01 .wrapCols{margin:0 auto;text-align:center;width:490px;position:relative;display:inline-block;}
#step_01 .col_01{float:left;display:inline;background-image:url('../images/icon_people.gif?v=2')}
#step_01 .col_02{float:right;display:inline}
#step_01 .col_02 label.yearLabel strong.label{margin:4px 9px 0 0;float:none}
#step_01 .col_02 label.yearLabel{display:inline-block}
#btnStart{margin-top:25px}
#step_01 ul.gender, #step_01 ul.gender li{display:inline-block}
#step_01 ul.gender li{background:url(../images/bullet_status.gif?v=10) no-repeat right top;height:19px;padding-right:24px;margin:0 5px}
#step_01 ul.gender li.active{background-position:right bottom}
#step_01 ul.gender li input{display:none}
/* FIN STEP 1 */

/* STEP 2 */
.ui-widget-content{border:none;height:3px;background:#969ba0;width:55%;position:relative;top:14px}
.ui-widget-header{background:#969ba0}
.slider .ui-slider-handle{top:-5px;cursor:move;background:transparent url('../images/arrowSlider.png?v=2') no-repeat center;border:none;border-radius:0;width:9px;height:14px;margin-left:0;box-shadow:none;-webkit-box-shadow:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none}
#step_02 .col_01{width:220px;float:left;display:inline}
#step_02 .col_01 .typesContent{background:#f8f8f6;width:220px;padding:20px 0;margin-bottom:10px}
#step_02 .contentBlock{padding:25px 0;border-top:1px solid #e6e6e5;float:left;display:inline;width:100%}
#step_02 h4 strong{font-size:132%;font-weight:normal;display:block;line-height:80%}
#step_02 h4{font-weight:300;margin-bottom:10px}
#step_02 .sliderWrap{float:left;display:inline;width:100%;position:relative}
#step_02 #type_02 .contentBlock{display:none}
#pensionalter .sliderValue{margin-right:0;width:93%;float:right;text-align:right;background:transparent;font-size:160%;color:#e62525;font-weight:bold;font-family:'Mobiliar'}/*border:0;width:40%; */
input.field{border:1px solid #969ba0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:5px;background-color:transparent;font-size:160%;color:#e62525;font-weight:bold;font-family:'Mobiliar';width:60%;text-align:right;margin-right:9px}
input#yearField{margin-top:10px;font-size:110%;text-align:center;padding:2px 0}
label.inputField span{font-size:130%;font-weight:normal}
label.inputField{float:left;display:inline;width:100%;text-align:left}
#btnCalculate{width:80%;padding:12px 0;margin:0 10%;text-align:center}
#btnReset{color:#55585b;width:100%;width:-webkit-calc(100% - 2px);width:-moz-calc(100% - 2px);width:calc(100% - 2px);padding:11px 0;margin-bottom:8px;text-align:center;border:1px solid #da2323;background:#fff}
#btnPDF{background:#da2323;color:#fff;width:100%;padding:12px 0;text-align:center;font-weight:bold}
nav.type{float:left;display:inline;width:100%;text-align:center;margin-bottom:20px}
.typeTab{padding:0 22px}
nav.type a{display:inline-block;font-size:120%;padding:6px 4px;text-decoration:none;color:#000}
nav.type a.active{cursor:default;background:#70c3d4;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
#results{float:right;display:inline;width:950px;width:-webkit-calc(100% - 250px);width:-moz-calc(100% - 250px);width:calc(100% - 250px)}
.result{position:relative;text-align:center;float:left;display:inline;background:#e6e6e5;width:48%;height:200px;margin-left:2%;margin-bottom:2%}
.result p{width:100%;text-align:center;font-size:180%;position:absolute;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.result p strong{display:block;font-size:75%}
#btnTypes{display:none}
body.desktop #step_02 .col_01 .typesContent,
body.desktop #step_02 .col_01 .actionContent{display:inline-block!important}
body.desktop #step_02 .col_01 .actionContent{width:100%}
/* END STEP 2 */

/* ANIMATIONS */
#animationWrap{float:right;display:inline;/*height:290px;*/margin-right:32px;margin-top:147px;width:870px;width:-webkit-calc(100% - 300px);width:-moz-calc(100% - 300px);width:calc(100% - 300px)}
.sprite{position:relative;margin-top:93px;text-align:center;float:left;display:inline;background-image:url('../images/bola_ani1.png');background-repeat:no-repeat;display:block;height:257px;width:209px}
.ball h4{display:none;position:absolute;left:10%;top:-30px;float:left;width:80%;line-height:135%}
.sprite p{color:#fff;font-weight:normal;font-size:205%}
.ball p{white-space:nowrap;display:none;top:35.5%;text-align:center;left:50%;padding-right:20px;position:absolute;background:url(../images/price.png) no-repeat right 80%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);/*-webkit-transition:top 0.12s;-moz-transition:top 0.12s;-o-transition:top 0.12s;-ms-transition:top 0.12s;transition:top 0.12s*/}
#bullet .layer{position:absolute;top:26.6%;width:70%;left:15%;text-align:center;color:#fff}
#bullet h4{margin-bottom:10px;line-height:135%}
#bullet p{white-space:nowrap;display:inline-block;padding-right:20px;background:url(../images/price.png) no-repeat right 80%}
.aniResults{display:none}
.wrapSprite{display:inline-block}

.ball.posi9 p{top:26.31%}
.ball.posi10 p{top:27.16%}
.ball.posi11 p{top:28.01%}
.ball.posi12 p{top:28.86%}
.ball.posi13 p{top:29.71%}
.ball.posi14 p{top:30.5%}
.ball.posi15 p{top:31.51%}
.ball.posi16 p{top:32.26%}
.ball.posi17 p{top:33.11%}
.ball.posi18 p{top:33.96%}
.ball.posi19 p{top:34.81%} 
.ball.posi20 p{top:35.5%}

#bullet.posi9 .layer{top:18.8%}
#bullet.posi10 .layer{top:19.1%}
#bullet.posi11 .layer{top:19.5%}
#bullet.posi12 .layer{top:20.4%}
#bullet.posi13 .layer{top:21.2%}
#bullet.posi14 .layer{top:21.7%}
#bullet.posi15 .layer{top:23.1%}
#bullet.posi16 .layer{top:23.8%}
#bullet.posi17 .layer{top:24.6%}
#bullet.posi18 .layer{top:25.3%}
#bullet.posi19 .layer{top:26%}
#bullet.posi20 .layer{top:26.6%}

.sprite p span{font-weight:normal;font-size:65%}
#ball2{background-image:url('../images/bola_ani2.png')}
#ball3{background-image:url('../images/bola_ani3.png')}
#bullet{background-image:url('../images/bullet_ani.png?v=3')}

.ballAnimation{float:left;display:inline;width:273px;height:350px;position:relative;margin-left:65px}
.shadow{z-index:1;float:left;display:inline;width:253px;height:26px;background:url('../images/shadow.png') no-repeat center;position:absolute;left:10px;bottom:19px;background-size:0;overflow:hidden}
#sphere-container{z-index:2;float:left;display:inline;width:0;height:0;position:absolute;left:125px;top:290px}
#sphere-container canvas{width:100%;height:100%;position:relative}
/* END ANIMATIONS */


@media screen and (min-width:1681px){/* BIG screens */
	/*body{background:orange}*/
}

@media screen and (max-width:1680px){/* desktop */
	/*body{background:pink}*/
}

@media screen and (max-width:1224px){/* Tablet portrait (1024x768) */
	/*body{background:blue}*/
	#animationWrap{margin:20px 0 0;width:100%;text-align:center}
	.disclaimer{width:80%;margin:4vh 10%;text-align:left;}
	#step_02 .col_01{width:100%;text-align:center}
	#step_02 .col_01 .typesContent{width:94%;padding:22px 3%}
	#step_02 .contentBlock{margin-bottom:12px;height:85px;padding:25px 4% 0;border-top:0;border-right:1px solid #e6e6e5;float:left;display:inline;width:25%}
	#step_02 .contentBlock:last-child{border-right:0}
	.typeTab{width:100%;padding:0}
	#btnReset, #btnPDF, #btnCalculate{max-width:200px}
	nav.type a{margin-bottom:10px}
	.sprite{float:none;display:inline-block}
	.ballAnimation{float:none;display:inline-block;margin-left:0}
	.sprite{width:185px;height:227px;font-size:88%;margin-top:35px}
	.ball h4{font-size:13px}
	#ball1{background-image:url('../images/bola_ani1_m.png')}
	#ball2{background-image:url('../images/bola_ani2_m.png')}
	#ball3{background-image:url('../images/bola_ani3_m.png')}
	#bullet{background-image:url('../images/bullet_ani_m.png?v=2')}
	#step_02 .contentBlock h4{text-align:left}
	#step_01 .disclaimer{width:70%;margin-left:15%;margin-right:15%; margin-top:7vh}
}

@media screen and (max-width:820px){/* Small tablet landscape (800x600) */
	/*body{background:yellow}*/
	#animationWrap{max-width:460px;float:none;display:inline-block}
	.block{text-align:center}
	.sprite{margin-top:20px}
	#step_02 .contentBlock{font-size:80%}
	#step_02 h4 strong{line-height:110%}
}

@media screen and (max-width:620px){/* Small tablet portrait (600x800) */
	/*body{background:green}*/
	#step_02 .contentBlock{width:100%;border-right:0;padding:2px 0 8px;max-width:280px;border-bottom:1px solid #e6e6e5;height:auto;text-align:center;margin-left:-webkit-calc(50% - 140px);margin-left:-moz-calc(50% - 140px);margin-left:calc(50% - 140px)}
	#step_02 .contentBlock .wrap{float:none;display:inline-block;width:100%}
	#step_02 .contentBlock h4{float:left;width:53%}
	#step_02 .contentBlock label{float:right;width:47%}
	.ballAnimation{width:200px;height:265px}
	.shadow{width:200px;left:0}
	#calculatorContent{padding:0}
}

@media screen and (max-width:500px){/* mobile portrait & landscape */
	/*body{background:brown}*/
	#step_01 .col_01, #step_01 .col_02{width:49%}
	#step_01 .wrapCols{width:100%}
	body{font-size:11px}
	body{padding:0}
	span.pages{display:none}
	#step_01 .col_02 label.yearLabel strong.label{width:100%;margin-bottom:5px}
	#step_02 .col_01 .typesContent{padding:10px 3%;font-size:18px}
	#btnTypes{display:inline-block;border:0;padding:7px 0;width:26.5%;font-weight:bold}
	#btnReset, #btnPDF{max-width:none;padding:7px 0;width:19.80%;font-weight:bold}
	#btnPDF{width:43%}
	#animationWrap{max-width:260px;margin-top:3px}
	.wrapSprite{width:100%}
	.sprite{width:135px;height:118px;font-size:88%;float:left;margin-top:0}
	.sprite p{padding-left:14px;background-size:auto 32%;padding-right:14px;background-position:right 90%;left:47%}
	.sprite p span{display:block;width:100%}
	.ball h4{left:145px;top:50%;text-align:left;line-height:130%;width:110px;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
	.ball h4 br{display:none}
	#ball1{background-image:url('../images/bola_ani1_mobile.png')}
	#ball2{background-image:url('../images/bola_ani2_mobile.png')}
	#ball3{background-image:url('../images/bola_ani3_mobile.png')}
	#options .actionContent{margin-top:10px;display:none}
	.aniResults{position:relative/*padding-bottom:120px;*/}
	#bullet{width:250px;height:115px;background-image:url('../images/bullet_ani_mobile.png?v=2')}
	#bullet .layer h4 br{display:none}
	#bullet p span{display:inline}
	#bullet .layer h4{margin-bottom:3px}
	#bullet.posi9 .layer{top:24.8%}
	#bullet.posi10 .layer{top:25.1%}
	#bullet.posi11 .layer{top:25.5%}
	#bullet.posi12 .layer{top:26.4%}
	#bullet.posi13 .layer{top:27.2%}
	#bullet.posi14 .layer{top:27.7%}
	#bullet.posi15 .layer{top:29.1%}
	#bullet.posi16 .layer{top:29.8%}
	#bullet.posi17 .layer{top:30.6%}
	#bullet.posi18 .layer{top:31.3%}
	#bullet.posi19 .layer{top:32%}
	#bullet.posi20 .layer{top:32.6%}
	.disclaimer p{font-size:14px}
	#step_02 .contentBlock h4, #step_02 .contentBlock label{width:100%}
	input.field{width:73%}
}

@media screen and (max-width:340px){/* mobile portrait */
	/*body{background:grey}*/
	#step_01 .col_01, #step_01 .col_02 {padding-top:60px;background-size:26%;height:50px;padding-bottom:20px}
	#step_02 .contentBlock{max-width:240px;margin-left:-webkit-calc(50% - 120px);margin-left:-moz-calc(50% - 120px);margin-left:calc(50% - 120px)}
	#btnReset, #btnPDF, #btnCalculate{max-width:140px}
	.ballAnimation{width:160px;height:212px;margin:0 auto}
	.shadow{width:160px}
}